


    body { 
        margin: 0;
    text-align:center;
    font-family: arial,sans-serif;
    color: #222;
    font-size: 14px;
      }


#googlemag{
    background: rgb(243, 237, 237) url(mag.png) left no-repeat;
    background-color: #0bc9d685;
    padding-left: 17px;
    margin-bottom: 17px;
    border-radius:20px;
    width: 500px;
    height: 35px;
    
    
    
}

#googlemag:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.ba{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    
    
 }
 a.about:first-of-type{
     margin-left: 15px;
 }
 a.about{
     padding: 5px;
     margin : 0 5px;
     color: #222;
    }

a:hover{
    text-decoration: underline;
    }
    
a.store{
        padding: 5px;
        margin : 0 5px;
        color: #222;
       }

a {
    text-decoration: none;
}

.ba_1{

    display: inline-block;
    flex-grow: 1;
    
}
.ba_2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.ba_3{
    display: flex;
    align-items: center;

}

a.gmail{
    padding:5px;
    color:#222;
}

a.images{
    padding: 5px;
    color: #222;

}

.mag{
    width: 25px;
}

ul{
    list-style-type: none;
}


/* So far so good */
.middle{
    
        margin:9%;
    }



.ba-footer{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: #f2f2f2;
    
}

.ba_4{
    display: inline-block;
    flex-grow: 2;

   
}

.adv{
    padding: 5px;
    margin : 15px;
    color: #222;
   }
.adv:first-of-type {
    margin-left: 15px;

   }
.bus{
    padding: 5px;
    margin : 0 5px;
    color: #222;
   }

.search{
    padding: 5px;
    margin : 0 5px;
    color: #222;
   }



.ba_5{
    display: flex;
    justify-content: flex-end;
    min-width: 20%;
    margin:20px;
    
}

.carb{
    margin-right: 20px;
}
    
    

.ba_6{
    display: flex;
    align-items: center
}

.settings,
.privacy,
.terms{
    margin-left:10px
}

#footer{
    position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;            /* Footer height */
}